html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-gutter: stable;
}

/* Ensures transitions are not applied for users who prefer reduced motion. */
/* @media (prefers-reduced-motion: no-preference) {
  html[data-view-transitions="enabled"] {
    @view-transition {
      navigation: auto;
    }
  }
} */

body {
  color: var(--gray-darker);
  font-family: var(--font-primary);
  font-size: var(--font-size-20);
  line-height: var(--line-height-1-8);
}

a {
  color: var(--black);
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4 {
  color: var(--black);
  line-height: var(--line-height-1);
}

h1 {
  font-size: var(--font-size-26);

  @media (width >= 48rem) {
    font-size: var(--font-size-40);
  }

  @media (width >= 63rem) {
    font-size: var(--font-size-50);
  }
}

h2 {
  font-size: var(--font-size-30);
}

h3 {
  font-size: var(--font-size-24);
}

h4 {
  font-size: var(--font-size-18);
}

/* The 'height: auto' ensures post image resizes proportional
keeping its original aspect ratio. */
img {
  display: block;
  height: auto;
  max-width: 100%;
}

/* Code snippets styles.
 * If code snippet is inline with text. */
.blog-post__body {
  ul,
  ol,
  p {
    code {
      background-color: var(--gray-lighten);
      border: 1px solid var(--gray-medium);
      border-radius: 5px;
      color: var(--gray-darkest);
      display: inline-block;
      font-family: var(--font-monospace);
      font-size: var(--font-size-16);
      line-height: 1;
      padding-block: var(--size-3);
      padding-inline: var(--size-5);
      vertical-align: middle;
      word-break: break-all;
    }
  }
}

code[class*="language-"] {
  font-size: var(--font-size-14);
  line-height: 1.3;
}

/* Styles for code blocks line numbers */
pre {
  counter-reset: lineNumber;
}

pre[class*="language-"] {
  margin-block-end: var(--size-30);
  margin-block-start: var(--size-10);
}

code .highlight-line:before {
  -webkit-user-select: none;
  border-right: 1px solid #404040;
  color: #858585;
  content: counter(lineNumber);
  counter-increment: lineNumber;
  display: inline-block;
  font-variant-numeric: tabular-nums;
  margin-right: 1.2em;
  padding-right: 1.2em;
  text-align: right;
  width: 2.4em;
}

::selection {
  background-color: var(--purple);
  color: var(--white);
}
