/**
 * @file base.css.
 * Base project styles.
 */
html {
  font-size: 112.5%; /* = 18px */
}

body {
  color: CanvasText;
  background-color: Canvas;
  line-height: 1.6;
  font-family: var(--font-primary);
  font-size: var(--text-default);
  font-synthesis: none;
  line-height: var(--leading-relaxed);
}

a {
  color: var(--color-secondary);
  text-decoration: underline;

  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: CanvasText;
  line-height: var(--leading-snug); /* 1.3 */
}
