/**
 * @file base.css.
 * Base project styles.
 */
@layer base {
  html {
    font-size: 112.5%; /* = 18px */
  }

  body {
    color: var(--color-primary);
    font-family: var(--font-primary);
    font-size: var(--text-default);
    font-synthesis: none;
    line-height: var(--leading-relaxed);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-primary);
    line-height: var(--leading-snug); /* 1.3 */
  }

  h1 {
    font-size: clamp(var(--h1-min), 1.961rem + 1.304vw, var(--h1-max));
  }

  h2 {
    font-size: clamp(var(--h2-min), 1.604rem + 0.87vw, var(--h2-max));
  }

  h3 {
    font-size: clamp(var(--h3-min), 1.159rem + 0.87vw, var(--h3-max));
  }

  h4 {
    font-size: clamp(var(--h4-min), 1.024rem + 0.435vw, var(--h4-max));
  }
}
