/**
 * @file colors.css
 * Global Color custom properties
 * Light and Dark mode technique:
 * https://www.bram.us/2023/10/09/the-future-of-css-easy-light-dark-mode-color-switching-with-light-dark/
 * https://m2.material.io/design/color/dark-theme.html#states
 */
 :where(html) {
  /* Primary colors. */
  --color-dark-text: #292929;
  --color-light-text: #e3e3e3;
  /* --color-dark-bg: #292929; */
  --color-dark-bg: #121212;
  --color-light-bg: #e3e3e3;
  --color-dark-accent: #bb86fc;
  --color-light-accent: #663399; /* rebeccapurple. */

  /* Original ones. To be removed eventually. */
  --color-primary: #121212;
  --color-secondary: #663399; /* rebeccapurple. */
  --color-light: #f9f9f9;
  --color-dark: #393939; /* or #313131 */

  /* Accents. */
  --blue-100: #f4f6fc;
  --blue-300: #add8e6;
  --yellow-100: #fdf5e2;
  --yellow-300: #fbe5ba;
  --purple-100: #fff0f5;
  --purple-300: #d8bfd8;

  /* Greys. */
  --grey-100: #f9f9f9;
  --grey-300: #ededed;
  --grey-500: #999999;
  --grey-700: #666666;
  --grey-900: #141414;

  /* Black & White */
  --black: #000;
  --white: #fff;
 }
