/**
 * @file colors.css
 * Global Color custom properties
 * Light and Dark mode technique:
 * https://www.bram.us/2023/10/09/the-future-of-css-easy-light-dark-mode-color-switching-with-light-dark/
 */
 :where(html) {
  /* Primary colors. */
  --color-primary: #0e1e25;
  --color-secondary: #663399; /* rebeccapurple. */

  /* Accents. */
  --blue-100: #f4f6fc;
  --blue-300: #add8e6;
  --yellow-100: #fdf5e2;
  --yellow-300: #fbe5ba;
  --purple-100: #fff0f5;
  --purple-300: #d8bfd8;

  /* Greys. */
  --grey-100: #f9f9f9;
  --grey-300: #ededed;
  --grey-500: #999999;
  --grey-700: #666666;
  --grey-900: #141414;

  /* Black & White */
  --black: #000;
  --white: #fff;
 }
