input[type=text],
input[type=email],
textarea {
  border: 1px solid var(--gray-darker2);
  border-radius: var(--size-4);
  padding: var(--size-4);
}

.contact__label {
  font-size: var(--size-18);
  font-weight: 600;
}

::placeholder {
  color: var(--gray-dark);
  font-size: var(--size-18);
  font-style: italic;
}
