/**
 * @file
 * This is the site's reset stylesheet.
 * These styles were inspired in part by
 * https://andy-bell.co.uk/a-more-modern-css-reset/
 */
/* New layered reset.
https://frontendmasters.com/blog/the-coyier-css-starter/ */
@layer reset {
  html {
    color-scheme: light dark;
    tab-size: 2;
    hanging-punctuation: first allow-end last;
    /* Prevent font size inflation */
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    word-break: break-word;
  }

  @media (prefers-reduced-motion: no-preference) {
    @view-transition {
      navigation: auto;
    }

    html {
      interpolate-size: allow-keywords;
      &:focus-within {
        scroll-behavior: smooth;
      }
    }
  }

  body {
    -webkit-font-smoothing: antialiased;
    color: CanvasText;
    background-color: Canvas;
    line-height: 1.6;
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
    padding: 2rem;
    scrollbar-gutter: stable both-edges;
    word-wrap: break-word;

    @media (width <= 30rem) { /* 540 rem. */
      padding: 1rem;
    }
  }

  /* Remove default margin in favour of better control in authored CSS */
  * {
    margin: 0;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  h1,
  h2 {
    font-weight: 900;
    letter-spacing: -0.02rem;
  }

  h1,
  h2,
  h3 {
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 /* FUTURE :heading */ {
    text-wrap: balance;
    margin-block-start: 0;
    overflow-wrap: break-word;
  }

  p,
  li,
  dd {
    text-wrap: pretty;
    max-inline-size: 88ch;
  }

  /* A elements that don't have a class get default styles */
  a:not([class]) {
    color: currentColor;
    text-underline-offset: 2px;
    text-decoration-skip-ink: auto;

    &:not(:is(:hover, :focus)) {
      text-decoration-color: color-mix(in srgb, currentColor, transparent 50%);
    }
  }

  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sub {
    inset-block-end: -0.25em;
  }

  sup {
    inset-block-start: -0.5em;
  }

  ul,
  ol,
  dl {
    margin: 0;
    padding: 0;
    list-style: inside;
    ul,
    ol,
    dl {
      padding-inline-start: 2ch;
    }
  }

  img,
  video,
  iframe {
    display: block;
    max-inline-size: 100%;
    block-size: auto;
    border-style: none;
  }

  /* Figcaption alignment with image.
  https://frontendmasters.com/blog/the-figcaption-problem/ */
  figure {
    inline-size: fit-content;

    figcaption {
      contain: inline-size;
      font-size: 90%;
    }
  }


  input,
  select,
  textarea,
  button {
    font: inherit;
    /* FUTURE: appearance: base; */
  }

  label {
    display: block;
  }

  input:not(
    :where(
      [type="submit"],
      [type="checkbox"],
      [type="radio"],
      [type="button"],
      [type="reset"]
    )
  ) {
    inline-size: 100%;
  }

  button,
  input:where(
    [type="submit"],
    [type="reset"],
    [type="button"]
  ) {
    background: CanvasText;
    background-image: none;
    border: 1px solid transparent;
    color: Canvas;
    cursor: pointer;
  }

  textarea {
    field-sizing: content;
    min-block-size: 5lh;
    inline-size: 100%;
    max-inline-size: 100%;
    resize: vertical;
  }

  /* Inherit fonts for inputs and buttons */
  input, button,
  textarea, select {
    font: inherit;
    text-transform: none;
  }

  /* Make sure textareas without a rows attribute are not tiny */
  textarea:not([rows]) {
    min-height: 10em;
  }

  summary {
    display: list-item;
  }

  /* Adds background color when text is selected. */
  ::selection {
    background-color: var(--purple);
    color: var(--white);
  }

  pre,
  code,
  kbd,
  samp {
    font-family: ui-monospace, SFMono-Regular, monospace;
  }

  svg {
    fill: currentColor;
  }

  [aria-disabled="true" i],
  [disabled] {
    cursor: not-allowed;
  }

  [hidden] {
    display: none !important;
  }

  [disabled],
  label:has(input[disabled]) {
    opacity: 0.5;

    [disabled] {
      opacity: 1;
    }
  }

  pre {
    white-space: pre-wrap;
    background: CanvasText;
    color: Canvas;
    padding: 1.5rem;
  }

  hr {
    border-style: solid;
    border-width: 1px 0 0;
    color: inherit;
    height: 0;
    overflow: visible;
    margin-block: 2.5rem;
  }

  :target {
    scroll-margin: 3rlh;
  }

  table {
    caption-side: bottom;
    border-collapse: collapse;

    td {
      font-size: 90%;
    }

    td,
    th {
      word-break: normal;
      border: 1px solid gray;
      padding: 0.5rem;
    }
  }

  [role="region"][aria-labelledby][tabindex] {
    overflow: auto;
  }

  caption {
    font-size: 90%;
  }

  .visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  /* https://medienbaecker.com/articles/focus-outlines */
  *:focus-visible {
    border-radius: var(--size-2);
    outline-color: currentColor;
    outline-offset: 0.25rem;
    outline-style: solid;
    outline-width: 0.25rem;
    overflow: hidden;
  }
}
