/**
 * @file
 * This is the site's reset stylesheet.
 */

*,
*::before,
*::after {
  box-sizing: border-box;
  border-color: var(--gray-200);
  border-style: solid;
  border-width: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  color: var(--black);
  overflow-x: hidden;
  scrollbar-gutter: stable both-edges;
  word-wrap: break-word;
}

hr {
  border-top-width: 1px;
  color: inherit;
  height: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--font-size-18);
  overflow-wrap: break-word;
}

a {
  color: var(--black);
  text-decoration: underline;
}

table {
  border-collapse: collapse;
  border-color: inherit;
  text-indent: 0;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  appearance: button;
  background-color: transparent;
  background-image: none;
}

button,
[role="button"] {
  cursor: pointer;
}

summary {
  display: list-item;
}

fieldset {
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

::selection {
  background-color: var(--purple);
  color: var(--white);
}

:disabled {
  cursor: default;
}

img {
  display: block;
  max-width: 100%;
}
