/* https://www.bram.us/2023/10/09/the-future-of-css-easy-light-dark-mode-color-switching-with-light-dark/
https://m2.material.io/design/color/dark-theme.html#states */
:root {
  /* Primitive colors custom properties  */
  --black: #000000;
  --white: #ffffff;

  /* Brand colors custom properties  */
  --foreground: var(--black);
  --background: var(--white);
  --link: #1a0dab;
  --hover: #551a8b;
}
