$font-primary: Georgia, serif;
$font-secondary: 'Playfair Display', Georgia, 'Times New Roman', serif;
$font-tertiary: '-apple-system', 'BlinkMacSystemFont', 'avenir next', avenir,
    'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, 'sans-serif';

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-secondary;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2.2rem;
}

.page-header__title {
  font-size: 4rem;
  line-height: 1.3;
  margin-bottom: 3rem;

  @media all and (min-width: 1200px) {
    font-size: 8rem;
    margin-bottom: 6rem;
  }
}

.page-header__summary {
  margin-bottom: 4rem;
}
