.header {
  margin: 2rem;
  max-width: 1200px;

  @media (--laptop) {
    margin: 3rem auto;
  }
}

.header__inner {
  text-align: center;

  @media (--tablet) {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}
