.main-content {
  margin: 4rem 2rem 0;

  @media (--laptop) {
    margin: 10rem auto 0;
  }
}

// Post listing
.post-list {
  margin: 0;
  max-width: 960px;

  @media (--tablet) {
    margin: 0 auto;
  }
}
