/**
 * @file
 * Layout for all blog post pages.
 */

.main-content {
  margin: var(--size-40) var(--size-20) 0;
  min-height: 100vh;

  @media (--laptop) {
    margin: var(--size-100) auto 0;
  }
}

.blog-post__full {
  margin-block: var(--size-40);

  @media (--tablet) {
    margin: var(--size-60) auto;
    max-width: var(--size-960);
  }
}

.post-list {
  max-width: var(--size-960);
}
