/**
 * @file
 * Layout for all blog post pages.
 */

.main-content {
  min-height: 100vh;
}

.blog-post__full {
  margin-block: var(--size-40);

  @media (--tablet) {
    margin-block: var(--size-60);
    max-width: var(--size-960);
  }
}
