/**
 * @file
 * Styles for page not found page.
 */

:root {
  --font-base: Inter, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
  --font-display: 'Rubik Mono One', monospace;
  --color-dark: #363950;
  --color-light: #ffffff;
  --color-light-shade: #f3f3f3;
  --color-primary: --purple: rebeccapurple;
  --gradient-primary: linear-gradient(111deg, #002846 0%, #ff7373 82.7%, #ffaf7b 97.2%);
  --gradient-secondary: linear-gradient(180deg, #a25863 0%, #373950 100%);
  --size-step-0: clamp(1rem, 0.9592rem + 0.2041vw, 1.125rem);
  --size-step-1: clamp(1.2rem, 1.1022rem + 0.4888vw, 1.4994rem);
  --size-step-2: clamp(1.44rem, 1.2576rem + 0.9122vw, 1.9988rem);
  --size-step-3: clamp(1.7281rem, 1.4224rem + 1.5286vw, 2.6644rem);
  --size-step-4: clamp(2.0738rem, 1.5911rem + 2.4133vw, 3.5519rem);
  --size-step-5: clamp(2.4881rem, 1.7545rem + 3.6684vw, 4.735rem);
  --size-mega: 45vw;
  --space-s: clamp(1rem, 0.9592rem + 0.2041vw, 1.125rem);
  --space-m: clamp(1.5rem, 1.4388rem + 0.3061vw, 1.6875rem);
  --space-l: clamp(2rem, 1.9184rem + 0.4082vw, 2.25rem);
  --space-xl: clamp(3rem, 2.8776rem + 0.6122vw, 3.375rem);
  --gutter: var(--space-m);
}

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--font-base);
  font-size: var(--size-step-0);
  overflow-x: hidden;

  h1 {
    background-color: var(--color-dark);
    background-image: var(--gradient-primary);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: var(--size-step-5);
    max-width: 30ch;
    font-family: var(--font-display);
    font-size: var(--size-mega);
    letter-spacing: -0.1ch;
    line-height: 1;
    margin-inline-start: 50%;
    transform: translateX(-50%);
    width: calc(100vw + 0.2ch);
    text-align: center;
  }

  :focus {
    outline-offset: 4px;
    outline-color: var(--focus-color, var(--color-dark));
  }

  ::selection {
    background: var(--color-dark);
    color: var(--color-light);
  }

  .flow > * + * {
    margin-top: var(--flow-space, 1em);
  }

}

.not-found__curved-container {
  font-family: var(--font-display);
  font-size: var(--size-mega);
  background: var(--color-light);
  position: relative;
  margin-block-start: -0.45ex;

  svg {
    font: inherit;
    fill: var(--color-light);
    display: block;
    width: 100%;
    height: 0.2ex;
    position: absolute;
    bottom: calc(100% - 1px);
    filter: drop-shadow(0px -10px 18px rgb(0 0 0 / 25%));
    z-index: 0;
  }
}

@media (prefers-contrast: more) {
  .not-found__curved-container svg {
    display: none;
  }
}

.not-found__curved-container--content {
  font-family: var(--font-base);
  font-size: var(--size-step-2);
  text-align: center;
  padding-block: var(--space-m);
  position: relative;
  z-index: 1;
  background: var(--color-light);

  > * {
    max-width: 60ch;
    margin-inline: auto;
  }

  .button {
    margin-block-start: var(--size-40);
  }
}


@media (min-width: 800px) {
  .not-found__curved-container--content {
    padding-block-start: 0;
  }
}
