/**
 * @file
 * About me teaser and about me page styles.
 */

.about-me {

  @media (--tablet) {
    margin-inline: auto;
    max-width: var(--size-720);
  }
}

/* Adds top margin to anchor scroll animation. */
#aboutme {
  scroll-margin-top: var(--size-24);
}

.about-me__content {
  background-color: var(--gray-light);
  padding: var(--size-70) var(--size-30) var(--size-30);

  @media (--tablet-large) {
    padding-block-start: var(--size-20);
    padding-inline-start: var(--size-250);
  }
}

.about-me__heading {
  font-size: var(--font-size-24);
  margin-block-end: var(--size-10);
}

.about-me__photo {
  margin: 0 auto -5rem;
  position: relative;
  width: var(--size-180);

  @media (--tablet-large) {
    margin: 0 0 -20rem -4rem;
    width: var(--size-250);
  }

  img {
    box-shadow: var(--box-shadow);
    height: var(--size-200);
    margin: 0 auto;
    width: var(--size-180);

    @media (--tablet-large) {
      height: var(--size-278);
      margin: unset;
      width: var(--size-250);
    }
  }
}

/* About full page. */
.about__full {
  max-width: var(--size-960);

  @media (--tablet-large) {
    display: grid;
    grid-template-columns: auto var(--size-360);
    grid-gap: var(--size-50);
    margin: 0 auto var(--size-80);
  }
}

.about__intro {
  font-size: var(--font-size-16);
  font-weight: var(--weight-600);
  text-transform: uppercase;

  @media (--tablet) {
    font-size: var(--font-size-20);
  }
}

.about__images {
  display: flex;
  gap: var(--size-50);
  margin-block-start: var(--size-40);

  @media (--tablet-large) {
    flex-direction: column;
    gap: var(--size-60);
  }

  img {
    border: 1px solid var(--gray-dark);
    box-shadow: var(--box-shadow);
  }
}

.about__image--first {

  @media (--tablet-large) {
    height: var(--size-480);
    width: var(--size-360);
  }
}

.about__image--second {

  @media (--tablet-large) {
    height: auto;
    width: var(--size-360);
  }
}

.about__heading {
  text-align: center;
  line-height: var(--line-height-1);
  margin-block-end: var(--size-20);

  @media (--laptop) {
    text-align: left;
  }
}
