/**
 * @file
 * About me teaser and about me page styles.
 */

.about-me {

  @media (--tablet) {
    margin-inline: auto;
    max-width: var(--size-720);
  }
}

.about-me__content {
  background-color: var(--gray-light);
  padding: var(--size-70) var(--size-30) var(--size-30);

  @media (--tablet-large) {
    padding-block-start: var(--size-20);
    padding-inline-start: var(--size-250);
  }
}

.about-me__heading {
  font-size: var(--font-size-24);
  margin-block-end: var(--size-10);
}

.about-me__photo {
  margin: 0 auto -5rem;
  position: relative;
  width: var(--size-180);

  @media (--tablet-large) {
    margin: 0 0 -20rem -4rem;
    width: var(--size-250);
  }

  /* Purple frame around photo. */
  &::before {
    border: var(--size-4) solid var(--purple);
    content: '';
    display: block;
    height: var(--size-200);
    left: -0.5rem;
    position: absolute;
    top: -0.5rem;
    width: var(--size-180);

    @media (--tablet-large) {
      border-width: var(--size-6);
      height: var(--size-278);
      width: var(--size-250);
    }
  }

  img {
    height: var(--size-200);
    margin: 0 auto;
    width: var(--size-180);

    @media (--tablet-large) {
      height: var(--size-278);
      margin: unset;
      width: var(--size-250);
    }
  }
}

/* About full page. */
.about__full {
  max-width: var(--size-960);
}

.about__content--wrapper {
  @media (--tablet-large) {
    display: grid;
    grid-template-columns: var(--size-250) auto;
    grid-gap: var(--size-50);
    margin: 0 auto;
  }
}

/* Uses same styles as photo above and overrides some of them
to match the full about page better. */
.about-me__photo {
  margin: 0 auto;

  @media (--tablet-large) {
    margin: var(--size-8) 0 0;
  }
}

.about__heading {
  text-align: center;
  line-height: var(--line-height-1);
  margin-block-end: var(--size-20);

  @media (--laptop) {
    text-align: left;
  }
}
