/**
 * @file
 * About me teaser and about me page styles.
 */

.about-me {
  margin: 0;
  margin-block-start: 30rem;
  max-width: 640px;
  position: relative;

  @media (--tablet) {
    margin: 12rem auto 8rem;
  }
}

.about-me__content {
  background-color: var(--gray-light);
  padding: 7rem 2rem 2rem;

  @media (--tablet) {
    padding-block-start: 2rem;
    padding-inline-start: 250px;
  }
}

.about-me__heading {
  font-size: var(--font-size-24);
  margin-block-end: 1rem;
}

.about-me__photo {
  left: -2rem;
  position: absolute;
  top: -20rem;

  /* Purple frame around photo. */
  &::before {
    border: 0.8rem solid var(--purple);
    content: '';
    display: block;
    height: 278px;
    position: absolute;
    right: -0.6rem;
    top: -0.6rem;
    width: 250px;
  }

  @media (--tablet) {
    left: -5rem;
    top: -5rem;
  }

  img {
    border-radius: 0.5rem;
  }
}

/* About full page. */
.about__full {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 960px;

  @media (--laptop) {
    display: grid;
    grid-template-columns: 250px auto;
    grid-column-gap: 3rem;
    margin: 0 auto;
    align-items: unset;
  }
}

.about__headshot {
  margin-bottom: 2rem;
  position: relative;
  width: 250px;

  /* Purple frame around photo. */
  &::before {
    border: 0.8rem solid var(--purple);
    content: '';
    display: block;
    height: 278px;
    position: absolute;
    right: -0.6rem;
    top: -0.6rem;
    width: 250px;
  }

  .social__items {
    margin-top: 2rem;
  }
}

.about__heading {
  text-align: center;
  line-height: 1;
  margin-bottom: 2rem;

  @media (--laptop) {
    text-align: left;
  }
}
