.author {
  background-color: var(--gray-light);
  border: 1px solid var(--gray-medium);
  border-radius: 4px;
  gap: var(--size-20);
  grid-template-columns: var(--size-92) 1fr;
  margin-block: var(--size-50);
  margin-inline: var(--size-20);
  max-width: 60ch;
  padding: var(--size-20);
  text-align: center;
  text-wrap: pretty;

  @media (--tablet) {
    display: grid;
    padding: var(--size-30) var(--size-20);
    text-align: initial;
  }

  @media (--tablet-large) {
    margin-inline: auto;
  }


  /* Styles for CTA link and arrow svg image. */
  .button--link {
    align-items: center;
    display: flex;
    font-size: var(--size-16) !important;
    justify-content: flex-end;
    line-height: 1;

    .link-arrow {
      margin-inline-start: var(--size-2);
    }

    svg {
      height: var(--size-18);
      margin-block-start: var(--size-4);
      width: var(--size-18);
    }
  }
}

.author__avatar {
  margin-block-end: var(--size-16);
  margin-inline: auto;
  width: var(--size-80);

  @media (--tablet) {
    margin-block-end: initial;
    margin-inline: initial;
  }

  img {
    border: 1px solid var(--purple);
    border-radius: 50%;
  }
}

.author__info,
.author__connect {
  font-size: var(--size-16);
}

.author__info {
  display: flex;
  flex-direction: column;
}

.author__heading {
  font-size: var(--size-18);
}

.author__bio {
  line-height: 1.5;
}

.author__connect {
  align-items: center;
  display: flex;
  justify-content: center;

  @media (--tablet) {
    justify-content: flex-end;
  }
}
