/**
 * @file
 * Button component styles.
 */

.button:not(.button--link) {
  background-color: var(--white);
  border: var(--size-2) solid var(--black);
  color: var(--black);
  display: inline-block;
  font-size: var(--font-size-12);
  font-weight: var(--weight-700);
  letter-spacing: 0.2em;
  padding: var(--size-8) var(--size-14);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: var(--transition-background-color-04s), var(--transition-color-04s), var(--transition-border-color-04s);
  white-space: nowrap;

  &:hover {
    background-color: var(--black);
    border-color: var(--black);
    color: var(--white);
  }

  /* Skip to content link for accessibility. */
  &.button--skip-link {
    left: 50%;
    position: absolute;
    top: 0.5rem;
    transform: translateX(-50%);
    z-index: var(--highest);

    /* Hides the link when not in focus. */
    &:not(:focus) {
      clip: rect(1px, 1px, 1px, 1px);
      height: 1px;
      overflow: hidden;
      position: absolute;
      width: 1px;
      word-wrap: normal;
    }
  }
}

.button--link {
  align-items: center;
  display: flex;
  font-size: var(--font-size-18);
  font-weight: var(--weight-600);
  text-decoration: none;

  span {
    margin-block-start: var(--size-2);
    margin-left: var(--size-4);
  }

  svg {
    display: block;
    height: 16px;
    width: 16px;
  }
}
