
.button {
  display: inline-block;
  padding: 0.8rem 1.4rem;
  border: 2px solid var(--black);
  color: var(--black);
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 1.2rem;
  font-weight: var(--weight-700);
  text-align: center;
  letter-spacing: 0.2em;
  transition: background-color 0.25s, color 0.25s, border-color 0.25s;

  &:hover {
    border-color: var(--black);
    background-color: var(--black);
    color: var(--white);
  }

  &.button--skip-link {
    position: absolute;
    top: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: var(--highest);

    &:not(:focus) {
      @include visually-hidden;
    }
  }
}
