/**
 * @file
 * Button component styles.
 */

.button:not(.button--link) {
  --bg: #171717;
  --opacity: 1;
  /* --bgc: rgb(23 23 23/var(--opacity)); */
  --border: var(--bg);
  --text: var(--white);
  align-items: center;
  border-radius: var(--size-40);
  background-color: var(--bg);
  border-color: var(--border);
  border-width: 1px;
  color: var(--text);
  display: inline-flex;
  font-size: var(--font-size-12);
  font-weight: var(--weight-700);
  inline-size: fit-content;
  justify-content: center;
  letter-spacing: 0.2em;
  padding: var(--size-8) var(--size-20);
  text-decoration: none;
  text-transform: uppercase;
  /* transition: var(--transition-background-color-04s), var(--transition-color-04s), var(--transition-border-color-04s); */
  white-space: nowrap;
  transition-property: background-color, transform;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;

  &:active {
    --text: var(--white);
    opacity: 1;
    transform: scale(0.97);
  }

  &:hover {
    --bg: var(--purple);
    --border: var(--purple);
    --text: var(--white);
  }

  &.button--reverse {
    --bg: var(--black);
    --border: var(--black);
    --text: var(--white);

    &:active {
      --text: var(--white);
      opacity: 1;
      transform: scale(0.97);
    }

    &:hover {
      --border: var(--purple);
      --bg: var(--purple);
      --text: var(--white);
      opacity: 1;
      transform: scale(0.97);
    }
  }

  /* Skip to content link for accessibility. */
  &.button--skip-link {
    left: 50%;
    position: absolute;
    top: 0.5rem;
    transform: translateX(-50%);
    z-index: var(--highest);

    /* Hides the link when not in focus. */
    &:not(:focus) {
      clip: rect(1px, 1px, 1px, 1px);
      height: 1px;
      overflow: hidden;
      position: absolute;
      width: 1px;
      word-wrap: normal;
    }
  }
}

/* Makes button look like a link. */
.button--link {
  align-items: center;
  display: flex;
  font-size: var(--font-size-18);
  font-weight: var(--weight-600);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
