/**
 * @file
 * Styles for article card component.
 */

.post-list__item {
  background-color: var(--white);
  border: 1px solid var(--gray-medium);
  border-radius: var(--size-4);
  justify-self: center;
  max-width: var(--size-300);
}

.card {

  img {
    border-radius: var(--size-4) var(--size-4) 0 0;
  }
}

.card__title {
  font-size: var(--size-18);
  line-height: var(--line-height-1-4);
}

.card__teaser {
  font-size: var(--size-16);
  line-height: var(--line-height-1.5);
}

.card__content {
  padding: var(--size-12);

  > * {
    margin-block-end: var(--size-10);
  }
}
