/**
 * @file
 * Featured post styles.
 */

.featured-post {
  margin: 6rem -2rem 4rem -2rem;

  @media (--laptop) {
    background-color: var(--gray-light);
    margin: 0 auto 6rem auto;
    padding-block: 12rem;
  }
}

.featured-post__inner {
  margin: 0;
  position: relative;

  @media (--tablet) {
    margin: 0 2rem;
    max-width: 960px;
  }

  @media (--tablet-large) {
    margin: 0 auto;
  }
}

.featured-post__article {
  background-color: var(--white);

  @media (--laptop) {
    left: -6rem;
    position: absolute;
    top: -6rem;
    width: 60%;
  }
}

.featured-post__article--inner {
  padding: 2rem;

  @media (--laptop) {
    padding: 6rem 3rem 3rem;
    position: relative;
  }
}

.featured-post__article--title {
  font-size: var(--font-size-24);
  line-height: var(--line-height-1-4);
  margin-block-end: var(--size-8);

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.featured-post__image,
.blog-post__image {
  position: relative;
  overflow: hidden;

  img {
    transition: all 0.6s ease-in-out 0s !important;
    height: auto;

    &:hover {
      transform: scale(1.1);
    }
  }
}

/* Featured article heading tag and photo credit tag
common styles. */
.featured-post__tag,
.featured-post__image--credit {
  background-color: var(--black);
  color: var(--white);
  display: inline-block;
  font-size: 1.2rem;
  font-weight: var(--weight-500);
  letter-spacing: 0.2em;
  line-height: var(--line-height-1);
  margin: 0;
  padding: 0.8rem 2rem;
  position: absolute;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
}

.featured-post__tag {
  left: 0;
  top: 0;
}

/* Photo credit. */
.featured-post__image--credit {
  bottom: 0;
  padding: 0.5rem 1rem;
  right: 0;
  text-transform: none;

  a {
    color: var(--white);
    display: inline-block;
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: uppercase;

    span {
      text-transform: none;
    }
  }
}

.featured-post__summary {
  margin-block-start: var(--size-6);
}
