/**
 * @file
 * Layout styles for the header section.
 */

.header {
  margin-block-end: var(--size-60);
  max-width: var(--size-960);

  @media (width >= 48rem) {
    margin-block: var(--size-30) var(--size-80);
    margin-inline: var(--size-20);
  }

  @media (width >= 63rem) {
    margin-inline: auto;
  }
}

/* On mobile the header is fixed and sticky. */
.header__inner {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: var(--high);

  /* On tablet and beyond, we unstick the header. */
  @media (width >= 48rem) {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: initial;
    z-index: initial;
  }
}
