/**
 * @file
 * Layout styles for the header section.
 */

.header {
  margin: var(--size-20);
  max-width: var(--size-960);

  @media (--laptop) {
    margin: var(--size-30) auto;
  }
}

.header__inner {
  text-align: center;

  @media (--tablet) {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}
