/**
 * @file
 * Homepage Hero styles.
 */

.hero {
  text-align: center;
}

.hero__inner {
  display: grid;
  gap: var(--size-40);
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  margin-inline: auto;
  max-width: var(--size-960);
}

.hero__image {
  justify-self: end;
}

.hero__content {
  justify-self: start;
}

.hero__heading {
  font-size: var(--font-size-25);
  line-height: var(--line-height-1-4);

  @media (--tablet) {
    font-size: var(--font-size-40);
  }
}

.hero__subheading {
  font-size: var(--font-size-20);
  font-weight: var(--weight-400);
  margin-block: 0 var(--size-20);

  @media (--tablet) {
    font-size: var(--font-size-25);
  }
}

.hero__image {
  height: var(--size-300);
  width: var(--size-300);

  img {
    border-radius: 50%;
    height: var(--size-300);
    width: var(--size-300);
  }
}

.hero__cta {
  text-align: center;
}
