/**
 * @file
 * Homepage Hero styles.
 */

.hero {
  margin-inline: 2rem;

  @media (--tablet) {
    margin-inline: auto;
  }
}

.hero__heading {
  line-height: var(--line-height-1-4);
  margin-block-end: 0;
  text-align: center;

  @media (--tablet) {
    font-size: var(--font-size-60);
  }

  @media (--tablet-large) {
    font-size: var(--font-size-80);
  }

  @media (--laptop) {
    font-size: var(--font-size-100);
  }
}

.hero__subheading {
  text-align: center;
  font-size: var(--font-size-22);
  font-weight: var(--weight-400);
  margin-block-start: 0;
  margin-block-end: var(--size-20);

  @media (--tablet) {
    font-size: var(--font-size-30);
  }

  @media (--tablet-large) {
    font-size: var(--font-size-35);
  }
}

.hero__cta {
  text-align: center;
}
