/**
 * @file
 * Homepage Hero styles.
 */

.hero {
  max-width: var(--size-960);

  .social__items {
    justify-content: center;
  }
}

.hero__title {
  font-size: var(--hero-title);
  line-height: var(--line-height-1);
  text-align: center;
}

.hero__subtitle {
  text-align: center;
  font-size: clamp(var(--h1-min), 1.961rem + 1.304vw, var(--h1-max));
}

.hero__cta {
  text-align: center;
}
