/**
 * @file
 * Homepage Hero styles.
 */

.hero {
  max-width: var(--size-960);

  .social__items {
    justify-content: center;
  }
}

.big-title {
  font-size: var(--font-size-28);
  line-height: var(--line-height-1);
  text-align: center;

  @media (width >= 48rem) {
    font-size: var(--font-size-50);
  }

  @media (width >= 63rem) {
    font-size: var(--font-size-60);
  }

  @media (width >= 75rem) {
    font-size: var(--font-size-80);
  }

  @media (width >= 90rem) {
    font-size: var(--font-size-100);
  }
}

.hero__subheading {
  text-align: center;
  font-size: var(--font-size-20);
  font-weight: var(--weight-400);

  @media (width >= 48rem) {
    font-size: var(--font-size-30);
  }

  @media (width >= 63rem) {
    font-size: var(--font-size-35);
  }
}


.hero__cta {
  text-align: center;
}
