.site__logo {
  color: var(--white);
  display: block;
  font-size: var(--font-size-18);
  font-weight: var(--weight-400);
  letter-spacing: 0.02rem;
  line-height: var(--line-height-1);
  text-decoration: none;
  text-transform: lowercase;

  @media (width >= 48rem) {
    color: var(--gray-darker);
    font-size: var(--font-size-30);
    letter-spacing: 0.01rem;
  }

  span {
    font-weight: var(--weight-700);
    margin-inline-start: -6px;
  }
}

/* Hamburger menu styles. */
.header__logo {
  align-items: center;
  background-color: var(--gray-darkest);
  display: flex;
  gap: var(--size-40);
  padding: var(--size-14) var(--size-20);
  position: relative;
  z-index: var(--lower);

  @media (width >= 48rem) {
    background-color: var(--white);
    gap: reset;
    justify-content: space-between;
    padding: 0;
    z-index: initial;
  }
}
