.site__logo {
  color: var(--white);
  display: block;
  font-size: var(--font-size-24);
  font-weight: var(--weight-400);
  letter-spacing: -1px;
  line-height: var(--line-height-1);
  text-decoration: none;
  text-transform: lowercase;

  @media (--tablet) {
    color: var(--gray-darker);
    font-size: var(--font-size-30);
    margin-block-end: var(--size-30);
    /* margin: 0; */
  }

  span {
    font-weight: var(--weight-700);
    margin-inline-start: -6px;
  }
}

/* Hamburger menu styles. */
.header__logo {
  align-items: center;
  display: grid;
  gap: var(--size-20);
  grid-template-columns: 2fr 1fr;
  justify-items: center;
}
