.site__logo {
  color: inherit;
  display: block;
  font-size: var(--font-size-18);
  font-weight: var(--weight-600);
  letter-spacing: 0.02rem;;
  line-height: var(--line-height-1);
  text-decoration: none;

  span {
    margin-inline-start: -3px;
  }

  @media (--tablet) {
    font-size: var(--font-size-24);
    letter-spacing: 0.01rem;
  }

  @media (--tablet-large) {
    font-size: var(--font-size-28);
    letter-spacing: 0.01rem;
  }

  @media (--laptop) {
    font-size: var(--font-size-30);
  }
}
