.navigation {
  background-color: var(--gray-light);
  border: 1px solid var(--gray-medium);
  border-block-start: 0;
  border-radius: 0 0 0 var(--size-4);
  inline-size: var(--size-200);
  left: calc(var(--size-220) * -1);
  padding: var(--size-20);
  position: absolute;
  transition: left 0.3s ease;
  top: calc(var(--size-56) - 2px);
  z-index: var(--lowest);

  .nav-is-open & {
    left: 0;
  }

  @media (width >= 48rem) {
    background-color: var(--white);
    border: 0;
    padding: 0;
    position: static;
    inline-size: initial;
    z-index: initial;
  }
}

.navigation__items {
  display: block;
  list-style: none;
  text-align: center;

  @media (width >= 48rem) {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-inline-start: auto;
  }
}

.navigation__item {
  @media (width >= 48rem) {
    /* Hides icon from all links except the search link. */
    &:not(.navigation__item--search) {
      svg {
        display: none;
      }
    }

    /* Hides text from the search link. */
    .navigation__link--search {
      > span {
        display: none;
      }
    }
  }

  .navigation__link {
    align-items: center;
    color: var(--gray-darker);
    display: flex;
    gap: var(--size-16);
    text-decoration: none;
    text-transform: lowercase;
    font-size: var(--font-size-18);
    font-weight: var(--weight-700);
    padding: var(--size-10);
    transition: var(--transition-color-03s);

    svg {
      block-size: var(--size-18);
      inline-size: var(--size-18);
    }

    @media (width >= 48rem) {
      font-size: var(--font-size-20);
      padding-inline: var(--size-20);
      position: relative;
      transition: none;

      /* Increase size of search icon on larger devices. */
      svg {
        block-size: var(--size-24);
        inline-size: var(--size-24);
      }

      &:not(.navigation__link--search) { /* Excludes border in search button. */
        &[data-state="active"],
        &[aria-current="page"],
        &:hover {
          color: var(--purple);

          /* Adds bottom border to hover and active links. */
          &:after {
            border-block-end: var(--size-4) solid var(--purple);
            bottom: var(--size-10);
            content: '';
            display: block;
            left: var(--size-18);
            position: absolute;
            right: var(--size-18);
          }
        }
      }
    }
  }
}

/* Mobile navigation */
.mobile-nav-toggle {
  align-items: center;
  block-size: var(--size-28);
  border: 0;
  display: flex;
  inline-size: var(--size-28);


  .nav-bar {
    block-size: var(--size-1);
    border: 1px solid var(--white);
    display: block;
    inline-size: 100%;
    margin-block-end: var(--size-5);

    &:last-child {
      inline-size: 90%;
      margin: 0 0 0 auto;
    }
  }

  @media (width >= 48rem) {
    display: none;
  }
}

.icon--hamburger {
  .nav-is-open & {
    display: none;
  }
}

.icon--close {
  display: none;

  .nav-is-open & {
    display: block;
  }
}
