.navigation {
  position: relative;
  width: 100%;

  @media (--tablet) {
    width: initial;
  }
}

.navigation__items {
  background-color: var(--gray-darker);
  display: flex;
  flex-direction: column;
  list-style: none;
  max-width: var(--size-200);
  position: absolute;
  top: 0;
  right: -205px;
  transition: right 1s ease;
  width: 200px;

  .is-open & {
    right: 0;
  }

  @media (--tablet) {
    flex-direction: row;
    justify-content: center;
    margin-inline-start: auto;
  }
}

.navigation__item {
  margin: 0 var(--size-10);
  padding: var(--size-5) var(--size-10);

  a {
    text-decoration: none;
    text-transform: lowercase;
    color: var(--black);
    font-size: var(--font-size-22);
    font-weight: var(--weight-700);
    transition: var(--transition-color-03s);

    &[data-state="active"],
    &:hover {
      border-block-end: var(--size-4) solid var(--black);
      color: var(--gray-darker);
      padding-block-end: var(--size-2);
    }
  }
}

/* Mobile navigation */
.mobile-nav-toggle {
  border: 0;
  height: var(--size-12);
  width: var(--size-28);

  .nav-bar {
    border: 1px solid var(--gray-darker);
    display: block;
    height: var(--size-1);
    margin-block-end: var(--size-5);
    width: 100%;

    &:last-child {
      margin: 0;
    }
  }
}
