/**
 * @file
 * Blog list pager styles.
 */

.pager {
  display: flex;
  justify-content: space-between;
  margin-block-start: var(--size-40);
  padding-block-start: var(--size-20);

  @media (--tablet) {
    justify-content: space-around;
  }
}

.pager__link {
  font-size: var(--font-size-16);
  font-weight: var(--weight-600);
  text-decoration: none;
}
