/**
 * @file
 * Blog list pager styles.
 */

.pager {
  padding-block-start: var(--size-20);

}

.pager__navigation {
  display: flex;
  justify-content: space-between;

  @media (width >= 48rem) {
    justify-content: space-around;
  }
}

.pager__link {
  font-size: var(--font-size-16);
  font-weight: var(--weight-600);
  text-decoration: none;
}
