/**
 * @file
 * Blog post full view styles.
 */

.page-header__summary {
  margin-block-end: 0.5rem
}

/* Individual tag above article title. */
.blog-post__tag {

  .eyebrow {
    margin-block-end: var(--size-20);

    &:hover {
      color: var(--gray-darker2);
    }
  }
}

.page-header__title {
  line-height: var(--line-height-1-2);
  text-wrap: pretty;
}

.page-header__subtitle {
  color: var(--gray-darker2);
  font-size: var(--size-22);
  font-style: italic;
  text-wrap: balance;
}

.blog-post__date {
  font-size: var(--font-size-16);
  margin-block-end: var(--size-40);
}

.blog-post__body {
  margin-inline: auto;
  max-width: 60ch;
  text-wrap: pretty;

  /* Change links color to purple if they are inside the post body. */
  a {
    color: var(--purple);
  }

  p {
    margin-block-end: 1.5rem;
  }

  /* Drop cap styles. */
  > p:first-child:first-letter {
    color: var(--purple);
    float: left;
    font-family: var(--font-secondary);
    font-size: var(--font-size-65);
    font-style: italic;
    line-height: 1;
    margin-block-end: 0;
    margin-block-start: var(--size-4);
    margin-inline-end: var(--size-6);
    padding-block-start: var(--size-4);
    padding-inline-end: var(--size-8);
    padding-inline-start: 0;
  }

  h2:not([class]),
  h3:not([class]),
  h4:not([class]) {
    margin-block-start: var(--size-40);
    margin-block-end: var(--size-12);
  }

  h2 {
    font-size: var(--font-size-24);
  }

  h3 {
    font-size: var(--font-size-20);
  }

  ol {
    p {
      margin: 0;
    }
  }

  ul:not([class]),
  ol:not([class]) {
    margin-block-end: var(--size-24);
  }
}

/* Headings anchor including tooltip when a link is copied. */
a.heading-anchor {
  background-color: var(--purple);
  cursor: pointer;
  block-size: 24px;
  border-radius: 2px;
  display: inline-block;
  inline-size: 24px;
  opacity: 0.2;
  text-decoration: none;

  svg {
    display: block;
    padding-block-start: 4px;
    padding-inline-start: 4px;
  }

  &:hover {
    opacity: 0.9;
  }
}

.anchor-tooltip {
  visibility: hidden;
  background-color: var(--purple);
  color: var(--white);
  text-align: center;
  border-radius: 4px;
  padding: 4px 10px;
  position: absolute;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
  /* Position relative to the element it's attached to */
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: 0.8em;
}

.anchor-tooltip.show {
  visibility: visible;
  opacity: 1;
}

.blog-post__tags {
  display: flex;
  justify-content: flex-start;
  margin-block-start: var(--size-50);
  margin-inline: auto;
  max-width: 60ch;
}

/* Blog series pager styles. */
.post-pager {
  background-color: var(--gray-light);
  padding: 2rem;

  p {
    display: block;
    font-size: 1.2rem;
    font-weight: var(--weight-700);
    letter-spacing: 0.10em;
    line-height: var(--line-height-1);
    margin-block-end: 1.6rem;
    text-align: center;
    text-transform: uppercase;

    &::after {
      display: none;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    justify-content: space-between;
    list-style-type: none;
    margin-block-end: 0;
    padding-inline-start: 0;

     @media (width >= 48rem) {
      flex-direction: row;
    }
  }

  li:first-child {
    margin-bottom: 2rem;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

/* Body images */
.body-image {
  margin: 3rem auto;

  &.body-image--left {
    margin-inline-start: 0;
    margin-inline-end: initial;
  }
}

.body-image--wide {
  max-width: 75%;
}

.body-image--narrow {
  max-width: 50%;
}

/* Comments form styles. */
.post__comments {
  border-block-start: 1px solid var(--gray-medium);
  margin-block: var(--size-40);
  padding-block-start: var(--size-50);
}

.post__comments--intro {
  font-size: var(--font-size-16);
  font-weight: 600;
}
