/**
 * @file
 * Blog landing page and Recommended post listing styles.
 */

.post-list {
  max-width: var(--size-960);
  min-height: 100vh;
}

.page-header__title {
  margin-block-end: var(--size-60);
}

.post-list__item:not(:last-child) {
  border-bottom: var(--size-2) solid var(--gray-light);
  margin-block-end: var(--size-20);
  padding-block-end: var(--size-20);
}

.post-list__title {
  font-size: var(--font-size-20);
  line-height: var(--line-height-1-2);
  margin-block-end: var(--size-10);
}

.post-list__link {
  align-items: center;
  display: flex;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  span {
    margin-block-start: var(--size-2);
    margin-inline-start: var(--size-4);
  }

  svg {
    display: block;
    height: var(--size-16);
    width: var(--size-16);
  }
}

/* Removes the black bar/line under date on listings of blog posts. */
.post-list__item--date.eyebrow {

  &:after {
    display: none;
  }
}

.post-list__teaser {
  font-size: var(--font-size-16);
  margin-block-start: var(--size-8);
}
