blockquote {
  color: $color-gray-dark;
  font-size: 2.2rem;
  font-style: italic;
  line-height: var(--line-height-14);
  margin: 4rem auto;
  padding: 2rem;
  position: relative;
  border-left: 4px solid $color-purple;
  margin-block-start: 6rem;
  max-width: 768px;
  padding: 2rem 0 2rem 8rem;
  text-align: left;

  &::before {
    color: $color-purple;
    content: '"';
    display: block;
    font-family: cursive,serif;
    font-size: 14rem;
    font-weight: var(--weight-700);
    left: -1rem;
    position: absolute;
    top: -8rem;
  }
}
