/**
 * @file
 * Recommended posts component styles.
 */

.recommended-posts {
  border-image-outset: 0 50vw;
  border-image-slice: fill 0;
  border-image-source: linear-gradient(var(--gray-light), var(--gray-light));
  display: flex;
  flex-direction: column;
  max-width: var(--size-960);
  padding: var(--size-30) var(--size-20);

  /* Component heading. */
  .post-list__heading {
    border-block-end: 1px solid var(--gray-medium);
    font-size: var(--font-size-18);
    margin-block-end: var(--size-20);
    padding-block-end: var(--size-5);

    @media (width >= 63rem) {
      font-size: var(--font-size-20);
    }
  }

  /* Article title in recommended posts list is smaller than
  Article title in the post listing landing page (/blog). */
  .post-list__title {
    font-size: var(--font-size-18);
  }
}
