:root {
  --shadow: 0 10px 15px -3px hsla(0, 0%, 0%, 10%), 0 4px 6px -4px hsla(0, 0%, 0%, 10%);
  --shadow-full: 0 8px 24px rgba(0, 0, 0, .14), 0 8px 16px rgba(0, 0, 0, .04);
}

.series-card-set {
  background-color: var(--white);
  margin-inline: var(--size-20);
  max-width: var(--size-1200);

  @media (width >= 75rem) {
    margin-inline: auto;
  }
}

.series-card-set__heading {
  margin-block-end: var(--size-30);
}

.series-card-set__inner {
  display: grid;
  gap: var(--size-40);
  grid-template-columns: 1fr;

  @media (width >= 75rem) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.series-card {
  background-color: var(--white);
  border-radius: var(--size-18);
  box-shadow: var(--shadow-full);
  padding: var(--size-50) var(--size-20);
  position: relative;

  @media (width >= 75rem) {
    padding: var(--size-50);
  }

  > * + * {
    margin-block-start: var(--size-24);
  }
}

.series-card__top {
  background-image: linear-gradient(73deg, rebeccapurple 8.37%, #E1126E 88.5%);
  border-radius: 20px 20px 0 0;
  height: var(--size-18);
  left: 0;
  position:absolute;
  right: 0;
  top: 0;
  z-index: var(--lowest);
}

.series-card__items {
  padding-inline-start: var(--size-24);
}
