/**
 * @file
 * Social share icons styles.
 */

.social-share {
  align-items: center;
  display: flex;
}

.social-share__item {
  margin-inline-start: var(--size-5);
}

.social-share__link {
  display: block;
  padding: var(--size-10);
}

.social-share__icon {
  align-items: center;
  display: flex;
}

.social-share__label {
  font-size: 1.2rem;
  font-weight: var(--weight-600);
  margin-left: var(--size-20);
  text-transform: uppercase;
}
