/**
 * @file
 * Styles for social media icons.
 */

.social__items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--size-20) 0;
}

.social__item {
  margin: 0 var(--size-10);
}

.social__item--icon {

  img {
    height: var(--size-32);
    width: var(--size-32);
  }
}
