/**
 * @file
 * Social share icons styles.
 */

.social-share {
  align-items: center;
  display: flex;
}

.social-share__link {
  display: block;
  padding: var(--size-10);
}

.social-share__icon {
  align-items: center;
  display: flex;
}

.social-share__label {
  font-size: var(--font-body-sm);
  white-space: nowrap;
}
