/**
 * @file
 * Styles for social media icons.
 */

.social__items {
  display: flex;
  align-items: center;
}

.social__item {
  margin: 0 var(--size-10);
}

.social__item--icon {
  align-items: center;
  display: flex;

  img {
    height: var(--size-32);
    width: var(--size-32);
  }
}
