/**
 * @file
 * CSS Transitions and animations.
 */

:root {
  /* Transitions. */
  --transition-color-04s: color 0.4s ease-in-out;
  --transition-background-color-04s: background-color 0.4s ease-in-out;
  --transition-border-color-04s: border-color 0.4s ease-in-out;
}
