/**
 * @file
 * CSS Transitions and animations.
 */

:root {
  /* Transitions. */
  --transition-color-04s: color 0.4s ease-in-out;
  --transition-background-color-04s: background-color 0.4s ease-in-out;
  --transition-border-color-04s: border-color 0.4s ease-in-out;
  --transition-top-05s: top 0.5s ease;

  /* Box shadoww. */
  --box-shadow-thin: var(--size-6) var(--size-6) 0 0 var(--purple);
  --box-shadow: var(--size-10) var(--size-10) 0 0 var(--purple);
  --box-shadow-gray: var(--size-10) var(--size-10) 0 0 var(--gray-darker);
  --box-shadow-gray-thin: var(--size-6) var(--size-6) 0 0 var(--gray-darker);
}

/* Zoom effect on image when hovering over them. */
.image-zoom {
  position: relative;
  overflow: hidden;

  img {
    transition: all 0.6s ease-in-out 0s !important;

    &:hover {
      transform: scale(1.1);
    }
  }
}
