:root {
  --flow-space: var(--size-12);
  --flow-space-16: var(--size-16);
  --flow-space-20: var(--size-20);
  --flow-space-30: var(--size-30);
  --flow-space-40: var(--size-40);
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1.2rem);
}

.flow-16 > * + * {
  margin-block-start: var(--flow-space-16, 1.2rem);
}

.flow-20 > * + * {
  margin-block-start: var(--flow-space-20, 1.2rem);
}
