:root {
  --flow-space: var(--size-12);
  --flow-space-16: var(--size-16);
  --flow-space-20: var(--size-20);
  --flow-space-30: var(--size-30);
  --flow-space-40: var(--size-40);
  --flow-space-60: var(--size-60);
  --flow-space-80: var(--size-80);
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1.2rem);
}

.flow-16 > * + * {
  margin-block-start: var(--flow-space-16, 1.6rem);
}

.flow-20 > * + * {
  margin-block-start: var(--flow-space-20, 2rem);
}

.flow-30 > * + * {
  margin-block-start: var(--flow-space-30, 3rem);
}

.flow-40 > * + * {
  margin-block-start: var(--flow-space-40, 4rem);
}

.flow-60 > * + * {
  margin-block-start: var(--flow-space-60, 6rem);
}

.flow-80 > * + * {
  margin-block-start: var(--flow-space-80, 8rem);
}
