/**
 * @file zindex.css
 * Z-index custom properties.
 */
:where(html) {
  --weight-0: -1;
  --weight-1: 1;
  --weight-10: 10;
  --weight-20: 20;
  --weight-30: 30;
  --weight-40: 40;
  --weight-50: 50;
  --weight-100: 100;
}
