*,
*::before,
*::after {
  box-sizing: border-box;
  border-color: var(--gray-200);
  border-style: solid;
  border-width: 0;
}

html {
  accent-color: var(--accent-color, var(--ucla-blue));
  background-color: var(--bg-color, var(--white));
  caret-color: var(--caret-color, var(--ucla-blue));
  color: var(--color, var(--gray-900));
  font-family: var(--font-body);
  font-size: 62.5%;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-primary);
  line-height: var(--line-height-1-8);
  overflow-x: hidden;
  scrollbar-gutter: stable both-edges;
  word-wrap: break-word;
}

hr {
  border-top-width: 1px;
  color: inherit;
  height: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

table {
  border-collapse: collapse;
  border-color: inherit;
  text-indent: 0;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  appearance: button;
  background-color: transparent;
  background-image: none;
}

button,
[role="button"] {
  cursor: pointer;
}

summary {
  display: list-item;
}

fieldset {
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

/* ::selection {
  background-color: var(--selection-bg-color, var(--blue-900));
  color: var(--selection-color, var(--white));
} */

:disabled {
  cursor: default;
}

svg {
  block-size: auto;
  fill: currentcolor;
  max-inline-size: 100%;
  stroke: none;

  &:where(:not([width])) {
    inline-size: var(--size-20);
  }
}

/**
 * @file
 * Color variables.
 */

:root {
  --black: #0e1e25;
  --white: #ffffff;
  --gray-dark: #414141;
  --gray-mid: #bbbbbb;
  --gray-light: #f5f5f5;
  --purple: #663399;
  --light-blue: #add8e6;
}

/**
 * @file
 * Font family, font weight, and line height variables.
 */

:root {
  /* Font family. */
  --font-primary: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Oxygen-Sans', Ubuntu, Cantarell, 'Fira Sans', Aria, 'Droid Sans', sans-serif;
  --font-secondary: Georgia, 'Times New Roman', Times, serif;

  /* Font weight. */
  --weight-100: 100;
  --weight-200: 200;
  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;
  --weight-800: 800;
  --weight-900: 900;

  /* Line height. */
  --line-height-1: 1;
  --line-height-1-2: 1.2
  --line-height-1-5: 1.5;
  --line-height-1-8: 1.8;
  --line-height-2: 2;
  --line-height-2-4: 2.4;
}

.button {
  display: inline-block;
  padding: 0.8rem 1.4rem;
  border: 2px solid $color-black;
  color: $color-black;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  margin: 30px auto;
  letter-spacing: 0.2em;
  transition: background-color 0.25s, color 0.25s, border-color 0.25s;

  &:hover {
    border-color: $color-black;
    background: $color-black;
    color: $color-white;
  }

  &.button--skip-link {
    position: absolute;
    top: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;

    // @extends should be used with care, but this is a great example of them being hella useful
    &:not(:focus) {
      @include visually-hidden;
    }
  }
}

.featured-post {
  background-color: $color-gray-light;
  margin: 0 -2rem 4rem -2rem;
  padding-top: 12rem;

  @media all and (min-width: 1200px) {
    margin: 0 auto 6rem auto;
    padding-bottom: 12rem;
  }
}

.featured-post__inner {
  margin: 0;
  position: relative;

  @media all and (min-width: 768px) {
    margin: 0 2rem;
    max-width: 960px;
  }

  @media all and (min-width: 980px) {
    margin: 0 auto;
  }
}

.featured-post__article {
  background-color: $color-white;
  padding: 2rem;

  @media all and (min-width: 1200px) {
    left: -6rem;
    position: absolute;
    padding: 6rem 3rem 3rem;
    top: -6rem;
    width: 500px;
  }
}

.featured-post__article--date {
  @include eyebrow;
}

.featured-post__article--title {
  line-height: 1.3;

  a {
    color: $color-black;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.featured-post__image,
.blog-post__content--image {
  position: relative;
  overflow: hidden;

  img {
    transition: all 0.5s ease-in-out 0s !important;

    &:hover {
      transform: scale(1.1);
    }
  }
}

/* Featured article heading label. */

.feature-post__article--heading {
  background-color: $color-black;
  color: $color-white;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 500;
  left: 0;
  letter-spacing: 0.2em;
  line-height: 1;
  padding: 8px 20px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  white-space: nowrap;
}

/* Photo credit. */

.featured-post__image--credit {
  background-color: $color-black;
  bottom: 0;
  color: $color-white;
  display: inline-block;
  font-style: italic;
  font-size: 1.4rem;
  line-height: 1;
  padding: 4px 10px;
  position: absolute;
  right: 0;

  a {
    color: $color-white;
    display: inline-block;
    font-size: 1.4rem;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.hero {
  margin: 3rem 2rem;

  @media all and (min-width: 768px) {
    margin: 6rem auto;
  }
}

.hero__heading {
  font-size: 6rem;
  line-height: 1.4;
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 10rem;
  }
}

.hero__subheading {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 2rem;

  @media screen and (min-width: 768px) {
    font-size: 3.5rem;
  }
}

.hero__cta {
  text-align: center;
}

.header__logo {
  color: $color-gray-dark;
  display: block;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1;
  margin: 0 0 3rem;
  text-decoration: none;
  text-transform: lowercase;

  @media all and (min-width: 768px) {
    margin: 0;
  }

  span {
    font-weight: 700;
    margin-left: -5px;
  }
}

.navigation__items {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-left: auto;
}

.navigation__item {
  margin: 0 10px;
  padding: 4px 10px;

  a {
    text-decoration: none;
    text-transform: lowercase;
    color: $color-black;
    font-size: 2.2rem;
    font-weight: normal;
    transition: color 0.3s ease-in-out;

    &[data-state="active"],
    &:hover {
      padding-bottom: 2px;
      color: $color-gray-dark;
      border-bottom: 4px solid $color-black;
    }
  }
}

.blog-post__full {
  margin: 4rem 0;

  @media all and (min-width: 1040px) {
    margin: 6rem auto;
    max-width: 960px;
  }

  .page-header__summary {
    margin-bottom: 0.5rem
  }

  .page-header__title {
    font-size: 5rem;
    line-height: 1.2;
    margin-bottom: 2rem;
  }
}

.blog-post__date {
  @include eyebrow;
  margin-bottom: 4rem;
}

.blog-post__tags--wrapper {
  align-items: center;
  display: flex;
  margin-bottom: 3rem;

  @media all and (min-width: 768px) {
    margin-bottom: 0;
  }
}

// Tags and social share links.
.tags-and-social-share {
  align-items: center;
  display: flex;
  flex-direction: column;

  @media all and (min-width: 768px) {
    align-items: unset;
    flex-direction: row;
    justify-content: space-between;
  }
}

.blog-post__tags {
  align-items: center;
  display: flex;
  margin-left: 0;
  padding-left: 0;

  li {
    margin-right: 1rem;
  }

  a {
    display: block;
    background: $color-gray-light;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    text-decoration: underline;
    text-transform: lowercase;
    white-space: nowrap;

    &:hover {
      text-decoration: none;
    }
  }
}

.tag-icon__tag {
  align-items: center;
  display: flex;
  margin-right: 10px;
}

.blog-post__social-share {
  align-items: center;
  display: flex;

  li {
    margin: 0 0 0 5px;

    a {
      display: block;
      padding: 1rem;
    }
  }
}

.social-share__icon {
  align-items: center;
  display: flex;
}

.social-share__label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 2rem;
  text-transform: uppercase;
}

.blog-post__content--image {
  margin-bottom: 2rem;

  @media all and (min-width: 1200px) {
    margin-bottom: 4rem;
  }
}

.blog-post__content--body {

  p {
    margin-bottom: 1.5rem;
  }

  // Adds dropcap on full blog post.
  > p:first-child:first-letter {
    color: $color-black;
    float: left;
    font-family: $font-secondary;
    font-size: 6.5rem;
    line-height: 6rem;
    margin-bottom: 0;
    padding-top: 0.4rem;
    padding-right: 0.8rem;
    padding-left: 0;
  }

  h2,
  h3 {
    margin-top: 2rem;
  }

  ol {
    p {
      margin: 0;
    }
  }
}

// Recommended post list.
.recommended-posts {
  background-color: $color-gray-light;
  margin-top: 4rem;
  padding: 2rem;

  .post-list__heading {
    margin-bottom: 2rem;
    border-bottom: 1px solid $color-gray-mid;
  }

  .post-list__title {
    font-size: 2.2rem;
  }

  .post-list__item--title {
    margin-bottom: 0;
  }

  .post-list__item {
    margin-bottom: 1rem;
    padding-bottom: 0;
  }

  .post-list__teaser {
    display: none;
  }

  .post-list__item-date {

    &::after {
      display: none;
    }
  }
}

blockquote {
  color: $color-gray-dark;
  font-size: 2.2rem;
  font-style: italic;
  line-height: 1.4;
  margin: 40px auto;
  max-width: 720px;
  padding: 20px;
  position: relative;
  border-left: 4px solid $color-purple;
  margin-top: 6rem;
  max-width: 768px;
  padding: 20px 0 20px 80px;
  text-align: left;

  &::before {
    color: $color-purple;
    content: '"';
    display: block;
    font-family: cursive,serif;
    font-size: 140px;
    font-weight: 700;
    left: -10px;
    position: absolute;
    top: -80px;
  }
}

.social__items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.social__item {
  margin: 0 1rem;
}

.social__item--icon {

  img {
    height: 32px;
    width: 32px;
  }
}

.footer {
  align-items: center;
  border-top: 1px solid $color-gray-mid;
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  padding: 2rem;

  .social__items {
    margin-bottom: 2rem;
  }
}

.header {
  margin: 2rem;
  max-width: 1200px;

  @media all and (min-width: 1200px) {
    margin: 3rem auto;
  }
}

.header__inner {
  text-align: center;

  @media all and (min-width: 768px) {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

.main-content {
  margin: 4rem 20px 0;

  @media all and (min-width: 1200px) {
    margin: 10rem auto 0;
  }
}

// Post listing
.post-list {
  margin: 0;
  max-width: 960px;

  @media all and (min-width: 768px) {
    margin: 0 auto;
  }
}

.post-list__items:nth-type(odd) {
  background-color: $color-gray-light;
}

.post-list__item {
  border-bottom: 2px solid $color-gray-light;
  margin-bottom: 4rem;
  padding-bottom: 3rem;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.post-list__item--title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.post-list__title {
  line-height: 1.3;
}

.post-list__item-date {
  @include eyebrow;
}

.recommended-posts {
  margin: 0 auto;
  max-width: 960px;

  .post-list__title {
    margin-bottom: 0.6rem;
  }
}

// Listing pager
.pager__items {
  display: flex;
  justify-content: space-between;

  @media all and (min-width: 768px) {
    justify-content: space-around;
  }
}

/**
 * @file
 * Media queries.
 */

/* TODO: https://github.com/csstools/postcss-custom-media */

@custom-media --mobile (min-width: 1px);

@custom-media --tablet (min-width: 768px);

@custom-media --laptop (min-width: 1024px);

@custom-media --desktop (min-width: 1440px);

/**
 * @file
 * Sizes variables.
 */

:root {
  --size-1: 1px;      /* 1px */
  --size-2: 2px;      /* 2px */
  --size-4: 4px;      /* 4px */
  --size-6: 6px;      /* 6px */
  --size-8: 8px;      /* 8px */
  --size-10: 1rem;    /* 10px */
  --size-12: 1.2rem;  /* 12px */
  --size-14: 1.4rem;  /* 14px */
  --size-16: 1.6rem;  /* 16px */
  --size-20: 2rem;    /* 20px */
  --size-24: 2.4rem;  /* 24px */
  --size-28: 2.8rem;  /* 28px */
  --size-32: 3.2rem;  /* 32px */
  --size-36: 3.6rem;  /* 36px */
  --size-40: 4rem;    /* 40px */
  --size-44: 4.4rem;  /* 44px */
  --size-48: 4.8rem;  /* 48px */
  --size-50: 5rem;    /* 50px */
  --size-52: 5.2rem;  /* 52px */
  --size-56: 5.6rem;  /* 56px */
  --size-60: 6rem;    /* 60px */
  --size-64: 6.4rem;  /* 64px */
  --size-68: 6.8rem;  /* 68px */
  --size-72: 7.2rem;  /* 72px */
  --size-76: 7.6rem;  /* 76px */
  --size-80: 8rem;    /* 80px */
  --size-84: 8.4rem;  /* 84px */
  --size-88: 8.8rem;  /* 8.8px */
  --size-92: 9.2rem;  /* 92px */
  --size-96: 9.6rem;  /* 96px */
  --size-100: 10rem;  /* 100px */
}

/**
 * @file
 * Visibility utility classes.
 */

.hidden,
.js-hide {
  display: none;
}

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
  word-wrap: normal;
}

/**
 * @file
 * Z-index variables.
 */

:root {
  --below: -1;
  --ground: 0;
  --lowest: 10;
  --lower: 20;
  --low: 30;
  --high: 40;
  --highest: 50;
}

html {
  font-size: 62.5%;
  margin: 0;
}

body {
  color: $color-black;
  font-family: $font-primary;
  font-size: 2rem;
  line-height: 1.8;
}

a {
  color: $color-black;
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}
