{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}

<!-- Grab random blog post for the 'Other recommended posts' block -->
{% set recommendedPosts = helpers.getSiblingContent(collections.blog, page) %}

{% block content %}
  <article class="about__full">
    <div class="about__inner">
      <header class="page-header">
        <h1 class="page-header__title" data-highlight="dark">{{ title }}</h1>
      </header>
      <div class="about__content--wrapper">
        <div class="about__headshot">
          <img src="{{ about.headshot }}" alt="Portrait of Mario Hernandez" width="250px" height="278px" />
          {% include "partials/social.html" %}
        </div>
        <div class="about__body">
          {{ content | safe }}
        </div>
      </div>
    </div>
  </article>

  {# Recommended blog posts block. #}
  {% if recommendedPosts %}
    <section class="recommended-posts mt-60">
      {% set postListItems = recommendedPosts %}
      {% set postListHeadline = 'Recommended blog posts' %}
      {% include "partials/post-list.html" %}
    </section>
  {% endif %}
{% endblock %}
