{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}

<!-- Grab random blog post for the 'Other recommended posts' block -->
{% set recommendedPosts = helpers.getSiblingContent(collections.blog, page) %}

{% block content %}
  <article class="about__full margin-inline-flex">
    <div class="about__content flow-20">
      <div class="about__intro">
        {{ intro }}
      </div>
      <header class="page-header">
        <h1 class="page-header__title" data-highlight="dark">{{ title }}</h1>
      </header>
      <div class="about__body">
        {{ content | safe }}
      </div>
      <a href="{{ blog_url }}" class="button button--link" data-link="arrow">Read my blog
        <span class="link-arrow">{% include '../../images/icons/arrow.svg' %}</span>
      </a>
      <div class="about__social">
        <p class="about__social__label">Connect with me</p>
        {% include "partials/social.html" %}
      </div>
    </div>
    <div class="about__images" aria-hidden="true"> {# Hides this contaiiner and images from screen readers. #}
      <div class="about__image about__image--first">
        {% image about.image, about.alt, "(min-width: 320px) 640px, 100vw" %}
      </div>
      <div class="about__image about__image--second">
        {% image about.image_second, about.alt2, "(min-width: 320px) 640px, 100vw" %}
      </div>
    </div>
  </article>

  {# Recommended blog posts block. #}
  {% if recommendedPosts %}
    <section class="recommended-posts mt-60 margin-inline">
      {% set postListItems = recommendedPosts %}
      {% set postListHeadline = 'Recommended blog posts' %}
      {% include "partials/post-list-cards.html" %}
    </section>
  {% endif %}
{% endblock %}
