{% extends "layouts/base.html" %}

<!-- Grab random blog post for the 'more from the blog' feed -->
{% set recommendedPosts = helpers.getSiblingContent(collections.blog, page) %}

{% block content %}
  <article class="about__full">
    <div class="about__headshot">
      <img src="{{ about.headshot }}" alt="Portrait of Mario Hernandez" width="250px" height="250px" />
      {% include "partials/social.html" %}
    </div>
    <div class="about__body">
      <h2 class="about__heading" data-highlight="dark">Mario Hernandez</h2>
        <div>
          {{ content | safe }}
          {% if recommendedPosts %}
            <footer class="recommended-posts">
              {% set postListItems = recommendedPosts %}
              {% set postListHeadline = 'Recommended blog posts' %}
              {% include "partials/post-list.html" %}
            </footer>
          {% endif %}
        </div>
    </div>

  </article>

{% endblock %}
