<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% include "partials/meta.html" %}
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml" />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KFWBDSLVNK"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-KFWBDSLVNK');
    </script>

    {# Syntax highlight using prism with the prism.css theme. #}
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-tomorrow.css" rel="stylesheet">

    {# Fav icons based on https://evilmartians.com/chronicles/how-to-favicon-in-2021-six-files-that-fit-most-needs #}
    <link rel="icon" href="../../../dist/images/icons/favicon.ico" sizes="32x32">
    <link rel="icon" href="../../../dist/images/icons/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="../../../dist/images/icons/apple-touch-icon.png"><!-- 180×180 -->
    <link rel="manifest" href="../../../manifest.webmanifest">

    <style>
      {% set css %}
      {% include '../../../dist/css/styles.css' %}
      {% endset %}
      {{css | postcss | safe}}
    </style>
  </head>
  <body>
    {% include "partials/header.html" %}
    <main tabindex="-1" id="main-content" class="main-content">
      {% block content %}{% endblock %}
    </main>
    {% include "partials/footer.html" %}
  </body>
</html>
