{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}

{% block content %}
  <article class="contact margin-inline-flex mb-80">
    <div class="contact__first flow-20">
      <header class="contact__header">
        <h1 class="contact__title">Let's chat. What exciting projects are you working on?</h1>
      </header>
      <div class="contact__body">
        {{ content | safe }}
      </div>
    </div>
    <div class="contact__second flow-20">
      <h2 class="contact__form--heading">Send me a message</h2>
      <form action="https://api.web3forms.com/submit" method="POST" id="mh-contact" class="contact__form flow-20">
        <input type="hidden" name="access_key" value="2a6297fc-3c6b-4635-bd0d-2f0a4635bf91" />
        <input type="hidden" name="subject" value="New Submission from mariohernandez.io" />
        <input type="hidden" name="redirect" value="https://mariohernandez.io/thanks/" />
        <input type="checkbox" name="botcheck" id="mh-bot-check" style="display: none;" />
        <div class="contact__field">
          <label class="contact__label" for="name">Name:</label>
          <input type="text" name="name" id="name" placeholder="Full name please" required />
        </div>

        <div class="contact__field">
          <label class="contact__label" for="email">Email:</label>
          <input type="email" name="email" id="email" placeholder="you@company.com" required />
        </div>

        <div class="contact__field">
          <label class="contact__label" for="message">Your Message:</label>
          <textarea rows="3" name="message" id="message" placeholder="Your Message" required></textarea>
        </div>

        <div class="contact__field">
          <button type="submit" class="button button--reverse"> Send Message </button>
        </div>
      </form>
    </div>
  </article>
{% endblock %}
