{% extends "layouts/base.html" %}

<!--Tutorial used to build this site:
https://piccalil.li/course/learn-eleventy-from-scratch/lesson/19/ -->

<!-- Grab random blog post for the 'more from the blog' feed -->
{% set recommendedPosts = helpers.getSiblingContent(collections.blog, page) %}

{% block content %}

  {% include "partials/hero.html" %}

  {% include "partials/featured.html" %}

  {% include "partials/about-teaser.html" %}

  {% if recommendedPosts %}
    <section class="recommended-posts">
      {% set postListItems = recommendedPosts %}
      {% set postListHeadline = 'Recommended blog posts' %}
      {% include "partials/post-list.html" %}
    </section>
  {% endif %}

{% endblock %}
