{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}

{# Render post date and any tags that this post has been tagged with. #}
{% set pageHeaderSummary %}
  <time class="blog-post__date" datetime="{{ date | w3DateFilter }}">{{ date | dateFilter }} |
    <span class="blog-post__readtime">{{ content | readingTime }} read</span>
  </time>

  {# Social share links on each blog article. #}
  <div class="blog-post__share" aria-hidden="true">
    {% include 'partials/social-share.html' %}
  </div>
{% endset %}

{% block content %}
  <article class="blog-post__full mb-60 margin-inline-flex">
    {# Adds the first tag above article title. #}
    {% for tag in tags %}
      {% if loop.first %}
        <span class="blog-post__tag">
          <a href="/tag/{{ tag | slug }}/" class="eyebrow eyebrow--nodash">{{ tag | title | replace('-', ' ') }}</a>
        </span>
      {% endif %}
    {% endfor %}
    {% include "partials/page-header.html" %}

    <div class="blog-post__content">
      <div class="blog-post__image image-zoom">
        <img src="{{ featuredImage }}" alt="{{ featuredImageAlt}}" width="960" height="450" />
        <div class="featured-article__image--credit">
          <a href="{{ featuredImageCreditUrl }}" target="_blank"><span>Photo by: </span>{{ featuredImageCredit }}</a>
        </div>
      </div>
      <div class="blog-post__body">
        {{ content | safe }}
      </div>
    </div>
    <div class="blog-post__tags">
      {% if tags %}
        {% include "partials/tags.html" %}
      {% endif %}
    </div>
  </article>
  {# Author block. #}
  {% include "partials/author.html" %}

  {# Comments snippet. #}
  <section class="post__comments margin-inline-flex flow" style="max-width:60ch;">
    <p class="post__comments--intro">I welcome your feedback about this post.</p>
    <script src="https://utteranc.es/client.js"
      repo="mariohernandez/mariohernandezio"
      issue-term="pathname"
      label="Comment"
      theme="github-light"
      crossorigin="anonymous"
      async>
    </script>
  </section>

  {# Recommended posts block. #}
  {% include "partials/recommended-posts.html" %}
{% endblock %}
