{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}

{# Render post date. #}
{# @TODO: Confirm this change does not break other areas. #}
{% set pageHeaderDate %}
  <time class="blog-post__date" datetime="{{ date | w3DateFilter }}">{{ date | dateFilter }}</time>
{% endset %}

{# Social share links on each blog article. #}
{% set pageHeaderShare %}
  <div class="blog-post__share">
    {% include 'partials/social-share.html' %}
  </div>
{% endset %}

{% block content %}
  <article class="blog-post__full flow mb-60 margin-inline-flex">
    {# Adds the first tag above article title. #}
    {% for tag in tags %}
      {% if loop.first %}
        <div class="blog-post__tag">
          <a href="/tag/{{ tag | slug }}/" class="eyebrow eyebrow--nodash">{{ tag | title | replace('-', ' ') }}</a>
        </div>
      {% endif %}
    {% endfor %}
    {% include "partials/page-header.html" %}

    <div class="blog-post__content flow-40">
      <div class="blog-post__image image-zoom">
        <img src="{{ featuredImage }}" alt="{{ featuredImageAlt}}" width="960" height="450" />
        {% if featuredImageCreditUrl or featuredImageCredit %}
          <div class="featured-article__image--credit">
            <a href="{{ featuredImageCreditUrl }}" target="_blank" rel="noopener noreferrer"><span>Photo by: </span>{{ featuredImageCredit }}</a>
          </div>
        {% endif %}
      </div>
      <div class="blog-post__body">
        {{ content | safe }}

        {# Post tags. #}
        <div class="blog-post__tags">
          {% if tags %}
            {% include "partials/tags.html" %}
          {% endif %}
        </div>
        {%- if series -%}
          <div class="series__toc">
            {%- set collectionObject = collections.seriesCollections[series.slug] -%}
            <h3 class="series__title">Series: {{ series.slug | replace('-', ' ') | capitalize }}</h3>
            {# <h4 class="post__series__description">{{collectionObject.collection.data.preface}}</h4> #}
            <ol class="series__list">
              {%- for post in collectionObject.posts -%}
                {%- set currentPost = false -%}
                {#- style current post differently from the other posts on the list -#}
                {%- if post.data.title == title -%}
                  {%- set currentPost = true -%}
                {%- endif -%}
                {#- But if you have an actual post it's linked here.#}
                {%- if post.data.permalink and not loop.last -%}
                  <li class="series__post">
                    <a class="series__link" href="{{ post.url }}" {%- if currentPost -%}aria-current="page" data-state="active"{%- endif -%}>
                  {{ post.data.title | safe }}</a>
                  </li>
                {%- endif -%}
              {%- endfor -%}
            </ol>
          </div>
        {% endif %}
      </div>
    </div>
  </article>
  {# Author block. #}
  {% include "partials/author.html" %}

  {# Comments snippet. #}
  <section class="post__comments margin-inline-flex flow" style="max-width:60ch;">
    <p class="post__comments--intro">I welcome your feedback about this post.</p>
    <script src="https://utteranc.es/client.js"
      repo="mariohernandez/mariohernandezio"
      issue-term="pathname"
      label="Comment"
      theme="github-light"
      crossorigin="anonymous"
      async>
    </script>
  </section>

  {# Recommended posts block. #}
  {% include "partials/recommended-posts.html" %}
{% endblock %}
