{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}

{# Render post date and any tags that this post has been tagged with. #}
{% set pageHeaderSummary %}
  <time class="blog-post__date eyebrow" datetime="{{ date | w3DateFilter }}">{{ date | dateFilter }}</time>
  <div class="tags-and-social-share">
    {# Post tags. #}
    {% if tags %}
      {% include "partials/tags.html" %}
    {% endif %}

    {# Social media share. #}
    {% include 'partials/social-share.html' %}
  </div>
{% endset %}

{% block content %}
  <article class="blog-post__full">
    {% include "partials/page-header.html" %}

    <div class="blog-post__content">
      <div class="blog-post__image image-zoom">
        <img src="{{ featuredImage }}" alt="{{ featuredImageAlt}}" load="lazy" width="960" height="450" />
        <div class="featured-post__image--credit">
          <a href="{{ featuredImageCreditUrl }}" target="_blank"><span>Photo by: </span>{{ featuredImageCredit }}</a>
        </div>
      </div>
      <div class="blog-post__body">
        {{ content | safe }}
      </div>
    </div>
  </article>

  {# Recommended posts block. #}
  {% include "partials/recommended-posts.html" %}
{% endblock %}
