---
title: Responsive images
description: "Responsive images is not one thing, it's a series of things and steps that need to take place for all the pieces to come together. In addition, there are various topics that drive the approach you take when managing responsive images. Learn all of it in this series."
series:
  slug: "responsive-images"
  description: This is a sample description for responsive images.
  order: 10
permalink: /series/responsive-images/index.html
---
{% extends "layouts/base.html" %}

{% block content %}
  {% include "./seriesLogic.html" %}
{% endblock %}
