---
title: Blog series
description: The following are blog posts about a specific topic organized as series.
subtitle: Posts organized by topic.
permalink: /series/
---
{% extends "layouts/base.html" %}

{% block content %}
	<div class="series__landing margin-inline-flex">
		<h1 class="page-header__title">{{ title | safe }}</h1>
		<p class="page-header__subtitle">{{ description | safe }}</p>
		<div class="series__wrapper">
			{% set postCollections = collections[ "seriesCollections" ] %}
			{% for handle, postCollection in postCollections %}
				{% include "components/series/card.html" %}
			{% endfor %}
		</div>
	</div>
{% endblock %}
