@import 'base/reset.css';
@import 'base/colors.css';
@import 'base/typography.css';

@import 'components/button.css';
@import 'components/featured-post.css';
@import 'components/hero.css';
@import 'components/logo.css';
@import 'components/navigation.css';
@import 'components/post.css';
@import 'components/quote.css';
@import 'components/social.css';

@import 'layout/footer.css';
@import 'layout/header.css';
@import 'layout/layout.css';
@import 'layout/post-list.css';

@import 'utilities/breakpoints.css';
@import 'utilities/sizes.css';
@import 'utilities/visibility.css';
@import 'utilities/zindex.css';


html {
  font-size: 62.5%;
  margin: 0;
}

body {
  color: $color-black;
  font-family: $font-primary;
  font-size: 2rem;
  line-height: 1.8;
}

a {
  color: $color-black;
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}
