/** style.css
 * 1. Define the layer order for the entire project.
 * https://youtu.be/DI-dgSlaeIY?si=F9d2mwZIQImWa-SK
 */
@layer reset, base, components, utilities, overrides;

/* Import custom sheets into designated layers. */
/* Reset styles. */
@import './base/reset' layer(reset);
@import 'https://unpkg.com/prismjs@1.29.0/themes/prism-tomorrow.css' layer(reset);

/* Base styles. */
@import './base/base' layer(base);
@import './base/colors' layer(base);
@import './base/forms' layer(base);
@import './base/typography' layer(base);
@import './base/webfonts' layer(base);

/* @import './utilities/animations';
@import './utilities/breakpoints';
@import './utilities/code';
@import './utilities/link-arrow';
@import './utilities/margins';
@import './utilities/spacing';
@import './utilities/sizes';
@import './utilities/tables';
@import './utilities/visibility';
@import './utilities/zindex';

@import './layout/layout';
@import './layout/search'; */

/* @import './components/404';
@import './components/about';
@import './components/author';
@import './components/button';
@import './components/card';
@import './components/caption';
@import './components/contact';
@import './components/eyebrow';
@import './components/featured';
@import './components/footer';
@import './components/header';
@import './components/hero';
@import './components/logo';
@import './components/navigation';
@import './components/pager';
@import './components/post';
@import './components/post-list';
@import './components/quote';
@import './components/recommended-posts';
@import './components/series';
@import './components/series-card';
@import './components/social';
@import './components/social-share';
@import './components/tags';
@import './components/thanks'; */
/* @import './components/callout';  Positioned here to override body styles */
