{% extends "layouts/base.html" %}

{% block content %}
  <article class="not-found margin-inline-flex">
    <header class="page-header">
      <h1 class="page-header__title">Oops! I can't believe this just happend</h1>
    </header>
    <div class="not-found__body">
      <p>Don't you just hate it when you can't remember where you put things?</p>
      <p>If you can't find your page, try going back <a href="/">home</a> or my <a href="/blog">blog</a>.
      </p>
    </div>
    <div class="not-found__image">
      <img src="../../images/mario-punch.webp" alt="Mario punching blocks painted on a wall" width="640" height="360" />
    </div>
  </article>
{% endblock %}
