---
title: Blog series
description: The following are blog posts about a specific topic organized as series.
subtitle: Posts organized by topic.
permalink: /series/
---
{% extends "layouts/base.html" %}

{% block content %}
	<div data-content class="series__landing margin-inline-flex">
	<h1 class="page-header__title">{{ title | safe }}</h1>
	<h2 class="page-header__title">{{ description | safe }}</h2>
		{% set postCollections = collections[ "seriesCollections" ] %}
		{% for handle, postCollection in postCollections %}
			<h3>Series: {{ handle | replace('-', ' ') | capitalize }}</h3>
			<ol class="series__post--list">
				{%- for post in postCollection.posts -%}
					<li>
						<a class="series__post--title" href="{{ post.url | url }}">
							{{ post.data.title | safe }}</a>
						</a>
						<p class="series__post--meta">
							<time datetime="{{ post.date | dateFilter }}">{{ post.date | dateFilter }}</time>
						</p>
						<p class="series__post--summary">
							{{ post.data.summary | safe }}
						</p>
					</li>
				{%- endfor -%}
			</ol>
		{% endfor %}
	</div>
{% endblock %}
