---
permalink: series/{{ series.slug }}/index.html
---
{% extends "layouts/base.html" %}

{# Sets the series name as the page title. #}
{% set pageHeaderTitle = series.name %}

{% block content %}
  <section class="series margin-inline-flex">
    <h1 class="center">{{ pageHeaderTitle }}{{ ' series' }}</h1>
    <sub>{{ series.info }}</sub>
    <ol class="post-list">
      {% for post in series.posts %}
        <li class="post-list-entry">
          <a href="{{ post.url }}">Part {{ post.part }}: {{ post.title }}</a>
        </li>
      {% endfor %}
    </ol>
  </section>
{% endblock %}
