.about-me {
  margin: 0;
  max-width: 960px;

  @media all and (min-width: 768px) {
    margin: 0 auto;
  }
}

.about-me__heading {
  font-size: 5rem;
  margin-bottom: 2rem;
  text-align: center;

  @media all and (min-width: 768px) {
    text-align: left;
  }
}

.about-me__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media all and (min-width: 768px) {
    display: grid;
    grid-template-columns: 250px auto;
    grid-column-gap: 3rem;
  }
}

.about-me__photo,
.about__headshot {
  margin-bottom: 2rem;
  max-width: 250px;
  position: relative;

  &::before {
    border: 8px solid $color-purple;
    content: '';
    display: block;
    height: 250px;
    left: -0.5rem;
    position: absolute;
    top: -0.5rem;
    width: 250px;
  }
}

// About full page
.about__full {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
  max-width: 960px;

  @media all and (min-width: 768px) {
    display: grid;
    grid-template-columns: 250px auto;
    grid-column-gap: 3rem;
    margin: 0 auto;
    align-items: unset;


  }
}

.about__headshot {
  max-width: 250px;

  .social__items {
    margin-top: 2rem;
  }
}

.about__heading {
  text-align: center;
  line-height: 1;
  margin-bottom: 2rem;

  @media all and (min-width: 768px) {
    text-align: left;
  }
}
