@import '../scss/init';

.footer {
  align-items: center;
  border-top: 1px solid $color-gray-mid;
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  padding: 2rem;

  .social__items {
    margin-bottom: 2rem;
  }
}
