.hero {
  margin: 3rem 2rem;

  @media all and (min-width: 768px) {
    margin: 6rem auto;
  }
}

.hero__heading {
  font-size: 6rem;
  line-height: 1.4;
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 10rem;
  }
}

.hero__subheading {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 2rem;

  @media screen and (min-width: 768px) {
    font-size: 3.5rem;
  }
}

.hero__cta {
  text-align: center;
}
