.blog-post__full {
  margin: 4rem 0;

  @media all and (min-width: 1040px) {
    margin: 6rem auto;
    max-width: 960px;
  }

  .page-header__summary {
    margin-bottom: 0.5rem
  }

  .page-header__title {
    font-size: 5rem;
    line-height: 1.2;
    margin-bottom: 2rem;
  }
}

.blog-post__date {
  @include eyebrow;
  margin-bottom: 4rem;
}

.blog-post__tags--wrapper {
  align-items: center;
  display: flex;
  margin-bottom: 3rem;

  @media all and (min-width: 768px) {
    margin-bottom: 0;
  }
}

// Tags and social share links.
.tags-and-social-share {
  align-items: center;
  display: flex;
  flex-direction: column;

  @media all and (min-width: 768px) {
    align-items: unset;
    flex-direction: row;
    justify-content: space-between;
  }
}

.blog-post__tags {
  align-items: center;
  display: flex;
  margin-left: 0;
  padding-left: 0;

  li {
    margin-right: 1rem;
  }

  a {
    display: block;
    background: $color-gray-light;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    text-decoration: underline;
    text-transform: lowercase;
    white-space: nowrap;

    &:hover {
      text-decoration: none;
    }
  }
}

.tag-icon__tag {
  align-items: center;
  display: flex;
  margin-right: 10px;
}

.blog-post__social-share {
  align-items: center;
  display: flex;

  li {
    margin: 0 0 0 5px;

    a {
      display: block;
      padding: 1rem;
    }
  }
}

.social-share__icon {
  align-items: center;
  display: flex;
}

.social-share__label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 2rem;
  text-transform: uppercase;
}

.blog-post__content--image {
  margin-bottom: 2rem;

  @media all and (min-width: 1200px) {
    margin-bottom: 4rem;
  }
}

.blog-post__content--body {

  p {
    margin-bottom: 1.5rem;
  }

  // Adds dropcap on full blog post.
  > p:first-child:first-letter {
    color: $color-black;
    float: left;
    font-family: $font-secondary;
    font-size: 6.5rem;
    line-height: 6rem;
    margin-bottom: 0;
    padding-top: 0.4rem;
    padding-right: 0.8rem;
    padding-left: 0;
  }

  h2,
  h3 {
    margin-top: 2rem;
  }

  ol {
    p {
      margin: 0;
    }
  }
}

// Recommended post list.
.recommended-posts {
  background-color: $color-gray-light;
  margin-top: 4rem;
  padding: 2rem;

  .post-list__heading {
    margin-bottom: 2rem;
    border-bottom: 1px solid $color-gray-mid;
  }

  .post-list__title {
    font-size: 2.2rem;
  }

  .post-list__item--title {
    margin-bottom: 0;
  }

  .post-list__item {
    margin-bottom: 1rem;
    padding-bottom: 0;
  }

  .post-list__teaser {
    display: none;
  }

  .post-list__item-date {

    &::after {
      display: none;
    }
  }
}
