$font-primary: Georgia, serif;
$font-secondary: 'Playfair Display', serif;
$font-tertiary: '-apple-system', 'BlinkMacSystemFont', 'avenir next', avenir,
    'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, 'sans-serif';

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-secondary;
}

.page-header__title {
  font-size: 4rem;

  @media all and (min-width: 1200px) {
    font-size: 8rem;
  }
}

.page-header__summary {
  margin-bottom: 4rem;
}
