@import '../scss/init';
@import '../scss/button';
@import '../scss/featured-post';
@import '../scss/social';
@import '../scss/about-me';
@import '../scss/footer';

html {
  font-size: 62.5%;
}

body {
  color: $color-black;
  font-family: $font-primary;
  font-size: 2rem;
  line-height: 1.8;
}

a {
  color: $color-black;
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

blockquote {
  color: $color-gray-dark;
  font-size: 3rem;
  font-style: italic;
  line-height: 1.4;
  margin: 50px auto 40px;
  max-width: 640px;
  padding: 20px;
  position: relative;
  border-left: 4px solid $color-purple;
  margin-top: 6rem;
  max-width: 768px;
  padding: 20px 0 20px 80px;
  text-align: left;

  &::before {
    color: $color-purple;
    content: '"';
    display: block;
    font-family: cursive,serif;
    font-size: 140px;
    font-weight: 700;
    left: -10px;
    position: absolute;
    top: -80px;
  }
}
