<article class="author">
  <figure class="author__avatar">
    <img src="/images/mario-avatar.webp" alt="Headshot of Mario Hernandez" width="90" height="90">
  </figure>
  <div class="author__info flow">
    <header class="author__header">
      <h3 class="author__heading">About Mario Hernandez</h3>
    </header>
    <p class="author__bio">Mario is a Software Engineer with over 15 years of experience building enterprise Drupal websites. In addition, Mario is a trainer and in his spare time he enjoys writing about Drupal and Front-end development.</p>
    <div class="author__connect">
      <p class="author__follow">Follow</p>
      <div class="author__social">
        {% include "partials/social.html" %}
      </div>
    </div>
  </div>
</article>
