<article class="author">
  <figure class="author__avatar">
    <img src="/images/mario-avatar.webp" alt="Headshot of Mario Hernandez" width="90" height="90">
  </figure>
  <div class="author__info flow">
    <header class="author__header">
      <h3 class="author__heading">
        <a href="/about" class="button button--link"><span class="author__by">by</span> Mario Hernandez
          <span class="link-arrow">{% include '../../images/icons/arrow.svg' %}</span>
        </a>
      </h3>
    </header>
    <p class="author__title">Sr. Front-end Software Engineer</p>
  </div>
</article>
