<a class="button button--skip-link" href="#main-content">Skip to content</a>
<header role="banner" class="header">
  <div class="header__inner">
    <a href="/" aria-label="{{ site.name }} - home" class="site__logo">
      Mario
      <span>Hernandez</span>
    </a>
    <nav class="navigation" aria-label="Primary">
      <ul class="navigation__items" role="list">
        {% for item in navigation.items %}
        <li class="navigation__item">
          <a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>
            {{ item.text }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
