<nav class="navigation" aria-label="Primary" role="navigation">
  <ul class="navigation__items" role="list">
    {% for item in navigation.items %}
      <li class="navigation__item">
        <a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>
          {{ item.text }}
        </a>
      </li>
    {% endfor %}
    {# Adds a search button as the last nav item to ensure proper alignment with nav. #}
    <li class="navigation__item navigation__item--search">
      <a href="/search" class="navigation__link--search">
        <span class="visually-hidden">Searchh this site</span>
        {% include '../../images/icons/search.svg' %}
      </a>
    </li>
  </ul>
</nav>
