<div class="post-list__wrapper" id="post-list">
  {% if postListHeadline %}
    <h2 class="post-list__heading" data-highlight="primary">
      {{ postListHeadline }}
    </h2>
  {% endif %}
  <ul class="post-list__items" role="list">
    {% for item in postListItems %}
      <li class="post-list__item">
        <article class="post-list__article">
          <header>
            <h3 class="post-list__title">
              <a href="{{ item.url }}" class="post-list__link">{{ item.data.title }}</a>
            </h3>
          </header>
          <p class="post-list__item--date eyebrow eyebrow--small eyebrow--no-margin">{{ item.date | dateFilter }}</p>
          <p class="post-list__teaser">{{ item.data.summary | safe }}</p>
        </article>
      </li>
    {% endfor %}
  </ul>
</div>
