<div class="post-list__wrapper" id="post-list">
  <div class="post-list__inner">
    {% if postListHeadline %}
    <h2 class="post-list__heading" data-highlight="primary">
      {{ postListHeadline }}
    </h2>
    {% endif %}
      <div class="post-list__items">
        {% for item in postListItems %}
          <article class="post-list__item">
            <h3 class="post-list__title">
              <a href="{{ item.url }}" class="post-list__link">{{ item.data.title }}</a>
            </h3>
            <p class="post-list__item--date eyebrow eyebrow--small eyebrow--no-margin">{{ item.date | dateFilter }}</p>
            {# <dd class="post-list__teaser">{{ item.data.summary | safe }}</dd> #}
          </article>
        {% endfor %}
      </div>
  </div>
</div>
